<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    <title>{{ page.title }} | {{ site.title }} </title>
    <link href="http://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link rel="stylesheet" href="/assets/css/default.css" />
    <link rel="alternate" type="application/atom+xml" title="Feed for blog posts" href="/feed.xml">
</head>
<body>
    <div class="wrapper">
    <nav>
        <a href="/">home</a> &middot; 
    </nav>
    <header>
        <h1>{{ page.title }}</h1>
        <time>{{ page.date | date_to_string }}</time>
    </header>
    <article>
        {{ content }}
        {% for post in site.posts %}
            {% if post.url == page.url %}
                {% assign post_index = forloop.index %}                        
            {% endif %}
        {% endfor %}
        {% for post in site.posts %}
            {% if post_index == forloop.index0 %}
                {% assign next_url = post_url %}
                {% assign next_title = post_title %}
            {% endif %}
        {% endfor %}
        {% if next_url %}
        <aside>
            <p><strong>next:</strong><br />
            <a href="{{ next_url }}">{{ next_title }}</a></p>
        </aside>
        {% endif %}
    </article>

    <footer>
        <a href="/">home</a> &middot; <br><a href="http://www.arabsnews32.org">اخبار العرب</a> | <a href="https://www.sdeg.org">صدق</a> | <a href="https://www.saudiweather.net">الطقس في السعودية</a> || <a href="https://www.thedreams.co">تفسير الاحلام</a> | <a href="https://www.saudiweather.net/weather/sa/Jeddah"> الطقس في جدة</a> | <a href="https://www.saudiweather.net/weather/sa/Riyadh"> الطقس في الرياض</a> 
    </footer>
  </div>
</body>
</html>
